<nav class="navbar navbar-expand-lg " id="login_header">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link text-dark" routerLink= '/'>¿Todavía no tienes cuenta?</a>
                </li>
            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0 text-dark" type="submit">Regitrarse</button>
        </form>
    </div>
</nav>