<nav  class="navbar navbar bg justify-content-between login_header">   
    <a  class="navbar-brand text-light"><i class="fa fa-cube"></i> <b>SADC</b></a>
    <form   class="form-inline">
      <a *ngIf = "!flagHeader" class="nav-link text-light" routerLink= '/register' (click) = "changeHeader();">¿Todavía no tiene cuenta?</a>
      <button  *ngIf = "!flagHeader" class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink= '/register' (click) = "changeHeader();">Registrarse</button>
      <a *ngIf = "flagHeader" class="nav-link text-light" routerLink= '/login' (click) = "changeHeader();">¿Ya tiene cuenta?</a>
      <button   *ngIf = "flagHeader" class="btn btn-outline-success my-2 my-sm-0" type="button" routerLink= '/login' (click) = "changeHeader();">Iniciar Sesión</button>
      
    </form>
</nav>  


