<app-login-header></app-login-header>

<div class="form-v4">
	<div class="page-content">
		<div class="form-v4-content">
			<div class="form-left">
				<h2>COMPETENCIAS</h2>
				<p class="text-1">Habilidad o capacidad para llevar a cabo una actividad asociada a un campo o categoría,
                       es el foco o el objetivo del desarrollo del planteamiento que
                        busca poder validar que una persona realmente  haya adquirido las competencias que dice poseer.</p>
				<p class="text-2"><span>Crear competencias:</span> En este formulario ingresa los datos necesarios y registrar las competencias por tipo.</p>
			</div>
			<form class="form-detail"  method="post" id="myform">
				<h2>REGISTRO</h2>
				<div class="form-row">
                    <label for="name">Nombre de la Competencias</label>
                    <input type="text" class="form-control"  placeholder="Nombre completo">
                </div>

                <div class="form-row">

                    <label for="inputState">Tipo de Competencia</label>
                    <select id="inputState" class="form-control">
                        <option selected>Informática</option>
                        <option>Medicina</option>
                        <option>Educación</option>
                    </select>

                </div>

                <div class="form-row">
                    <label for="exampleFormControlTextarea1">Enunciado</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class="form-row">
                    <label for="exampleFormControlFile1">Adjuntar archivo</label>
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                  </div>
				<div class="form-row">
					<input type="button" name="register" class="register" value="Crear">
				</div>
			</form>
		</div>
    </div>
</div>


<app-footer ></app-footer>