<div  *ngIf = "flagHeader == 0" class="nav-menu">
    <div class="top-menu">
        <nav class="top-menu-nav" jscontroller="hH64kd" jsaction="GvneHb:Vxp0Zd;rcuQ6b:Vxp0Zd;">
            <ul>
                <li class="menu-item-selected">
                    <a  data-rid="1" data-nav-type="1"
                        aria-current="page" jsname="skHzY" (click) = "changeCompetencia();">
                        <div class="top-menu-item-text">Búsqueda por Nombre</div>
                        <div class="top-menu-item-extra1" aria-hidden="true">
                            <div class="top-menu-item-extra2"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a  data-rid="10003" data-nav-type="1" (click) = "changeName();">
                        <div class="top-menu-item-text">Busqueda por Competencias</div>
                        <div class="top-menu-item-extra1" aria-hidden="true">
                            <div class="top-menu-item-extra2"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a  data-rid="10004"
                        data-nav-type="1">
                        <div class="top-menu-item-text">Salir</div>
                        <div class="top-menu-item-extra1" aria-hidden="true">
                            <div class="top-menu-item-extra2"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="side-menu">
        <nav class="side-menu-nav">
            <ul>
                <li>
                    <a class="nav-class-1 nav-class-2 nav-class-3 menu-item-selected" data-rid="1" data-nav-type="9"
                        aria-current="page" (click) = "changeCompetencia();">
                        <div class="nav-a-icon-div">
                            <style nonce="">
                                .figureclassi6 {
                                    width: 24px;
                                    height: 24px;
                                }
                            </style>
                            <i class="fa fa-user-circle-o"></i>
                        </div>
                        <div class="nav-a-text-div">Búsqueda por Nombre</div>
                    </a></li>
                <li><a  class="nav-class-1 nav-class-2 zCVEd nav-class-3" data-rid="10003"
                        data-nav-type="9" (click) = "changeName();">
                        <div class="nav-a-icon-div">
                            <style nonce="">
                                .figureclassi7 {
                                    width: 24px;
                                    height: 24px;
                                }
                            </style>
                            <i class="fa fa-certificate"></i>
                        </div>
                        <div class="nav-a-text-div">Búsqueda por Competencias</div>
                    </a></li>
                <li><a  class="nav-class-1 nav-class-2 zCVEd nav-class-3"
                        data-rid="10004" data-nav-type="9">
                        <div class="nav-a-icon-div">
                            <style nonce="">
                                .figureclassi8 {
                                    width: 24px;
                                    height: 24px;
                                }
                            </style>
                            <i class="fa fa-plus-circle"></i>
                        </div>
                        <div class="nav-a-text-div">Salir</div>
                    </a></li>
            </ul>
        </nav>
    </div>
</div>

<div  *ngIf = "flagHeader == 1" class="nav-menu">
    <div class="top-menu">
        <nav class="top-menu-nav" jscontroller="hH64kd" jsaction="GvneHb:Vxp0Zd;rcuQ6b:Vxp0Zd;">
            <ul>
                <li>
                    <a  data-rid="1" data-nav-type="1"
                        aria-current="page" jsname="skHzY" (click) = "changeCompetencia();">
                        <div class="top-menu-item-text">Búsqueda por Nombre</div>
                        <div class="top-menu-item-extra1" aria-hidden="true">
                            <div class="top-menu-item-extra2"></div>
                        </div>
                    </a>
                </li>
                <li class="menu-item-selected">
                    <a  data-rid="10003" data-nav-type="1" (click) = "changeName();">
                        <div class="top-menu-item-text">Búsqueda por Competencias</div>
                        <div class="top-menu-item-extra1" aria-hidden="true">
                            <div class="top-menu-item-extra2"></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a  data-rid="10004"
                        data-nav-type="1">
                        <div class="top-menu-item-text">Salir</div>
                        <div class="top-menu-item-extra1" aria-hidden="true">
                            <div class="top-menu-item-extra2"></div>
                        </div>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="side-menu">
        <nav class="side-menu-nav">
            <ul>
                <li>
                    <a class="nav-class-1 nav-class-2 nav-class-3" data-rid="1" data-nav-type="9"
                        aria-current="page" (click) = "changeCompetencia();">
                        <div class="nav-a-icon-div">
                            <style nonce="">
                                .figureclassi6 {
                                    width: 24px;
                                    height: 24px;
                                }
                            </style>
                            <i class="fa fa-user-circle-o"></i>
                        </div>
                        <div class="nav-a-text-div">Búsqueda por Nombre</div>
                    </a></li>
                <li><a  class="nav-class-1 nav-class-2 nav-class-3 menu-item-selected" data-rid="10003"
                        data-nav-type="9" (click) = "changeName();">
                        <div class="nav-a-icon-div">
                            <style nonce="">
                                .figureclassi7 {
                                    width: 24px;
                                    height: 24px;
                                }
                            </style>
                            <i class="fa fa-certificate"></i>
                        </div>
                        <div class="nav-a-text-div">Búsqueda por Competencias</div>
                    </a></li>
                <li><a  class="nav-class-1 nav-class-2 nav-class-3"
                        data-rid="10004" data-nav-type="9">
                        <div class="nav-a-icon-div">
                            <style nonce="">
                                .figureclassi8 {
                                    width: 24px;
                                    height: 24px;
                                }
                            </style>
                            <i class="fa fa-plus-circle"></i>
                        </div>
                        <div class="nav-a-text-div">Salir</div>
                    </a></li>
            </ul>
        </nav>
    </div>
</div>