<div class="row">
  <div class="col-4" style = "z-index: 2">
    <app-verificator-menu></app-verificator-menu>
</div>
    <div class="col-7 mt-5">
      <div class="card" style = "z-index: 1">
        <nav class="navbar navbar-light bg-light">
          <form class="form-inline">
            <span class="input-group-text" id="basic-addon1"><img src="https://image.flaticon.com/icons/svg/751/751463.svg"/></span>
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar competencia" aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </nav>
      </div>
        <div class="card">
            <h5 class="card-header">Competencias</h5>
            <div class="card-body">
              <h5 class="card-title">Matemática intermedio</h5>
              <p class="card-text">Adquirir la competencia de nivel intermedio de matemática.</p>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Adquirir competencia
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Matemática intermedio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Para adquirir la competencia de nivel intermedio de matemática se debe seguir las instrucciones de abajo.
            <ul class="list-group mt-5">
                <li class="list-group-item">Se dispondrá de 1 hora de tiempo.</li>
                <li class="list-group-item">Para obtener la competencia ocupas resolver el enunciado.</li>
                <li class="list-group-item">Si la solución esta incorrecta hasta dentro de un mes se podrá reintentar.</li>
              </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Adquirir</button>
        </div>
      </div>
    </div>
  </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Inglés básico</h5>
              <p class="card-text">Adquirir la competencia de nivel básico de inglés.</p>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Adquirir competencia
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Inglés básico</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Para adquirir la competencia de nivel básico de inglés básico se debe seguir las instrucciones de abajo.
            <ul class="list-group mt-5">
                <li class="list-group-item">Se dispondrá de 1 hora de tiempo.</li>
                <li class="list-group-item">Para obtener la competencia ocupas resolver el enunciado.</li>
                <li class="list-group-item">Si la solución esta incorrecta hasta dentro de un mes se podrá reintentar.</li>
              </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Adquirir</button>
        </div>
      </div>
    </div>
  </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Frances intermedio</h5>
              <p class="card-text">Adquirir la competencia de nivel intermedio de frances.</p>
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Adquirir competencia
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Frances intermedio</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            Para adquirir la competencia de nivel intermedio de frances se debe seguir las instrucciones de abajo.
            <ul class="list-group mt-5">
                <li class="list-group-item">Se dispondrá de 1 hora de tiempo.</li>
                <li class="list-group-item">Para obtener la competencia ocupas resolver el enunciado.</li>
                <li class="list-group-item">Si la solución esta incorrecta hasta dentro de un mes se podrá reintentar.</li>
              </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Adquirir</button>
        </div>
      </div>
    </div>
  </div>
            </div>
          </div>
          
          
        
        
    </div>
</div>

