<app-main-navbar>
</app-main-navbar>
<div class="authentication-outlet">
    <main class="sa-assessment-flow__main neptune-grid one-column align-items-center">

        <section class="sa-assessment-flow__card sa-assessment-quiz artdeco-card display-flex flex-column">

            <h3 class="visually-hidden" aria-live="polite">
                Programación básica en Python Q1/2
            </h3>

            <header id="ember12" class="sa-assessment-flow__header ember-view">
                <div class="p3 display-flex align-items-center flex-column">
                    <h2 class="text-align-center t-20 t-white t-normal mt1">
                        Programación básica en Python
                    </h2>
                </div>
            </header>

            <p id="assessment-a11y-title" class="sa-assessment-quiz__title-question t-16 t-bold pv4 ph5" tabindex="-1">
                <span class="sa-assessment-quiz__multi-line"><span aria-hidden="true">
                    ¿Cuál es la palabra reservada para la definición de funciones en Python?
                </span>
                <span class="visually-hidden">¿Cuál es la palabra reservada para la definición de funciones en Python? </span></span>
            </p>

            <div class="sa-assessment-quiz__scroll-content display-flex flex-column">

                <div class="sa-assessment-quiz__response display-flex flex-column justify-space-between flex-grow-1">
                    <div id="ember14" class="sa-assessment-quiz__response-options ember-view">
                        <ul id="ember15" class="list-style-none ember-view">
                            <li class="sa-question-multichoice__item sa-question-basic-multichoice__item ">

                                <input name="urn:li:fs_skillAssessmentQuestion:416460"
                                    id="urn:li:fs_skillAssessmentQuestion:416460-1"
                                    class="sa-question-multichoice__input sa-question-basic-multichoice__input ember-checkbox ember-view"
                                    type="radio">
                                <label for="urn:li:fs_skillAssessmentQuestion:416460-1" id="ember18"
                                    class="sa-question-basic-multichoice__label m0 pv4 ember-view">
                                    <p class="sa-code-block">
                                        class
                                    </p>
                                </label>

                            </li>
                            <li class="sa-question-multichoice__item sa-question-basic-multichoice__item ">

                                <input name="urn:li:fs_skillAssessmentQuestion:416460"
                                    id="urn:li:fs_skillAssessmentQuestion:416460-3"
                                    class="sa-question-multichoice__input sa-question-basic-multichoice__input ember-checkbox ember-view"
                                    type="radio">
                                <label for="urn:li:fs_skillAssessmentQuestion:416460-3" id="ember21"
                                    class="sa-question-basic-multichoice__label m0 pv4 ember-view">
                                    <p class="sa-code-block">
                                        def
                                    </p>
                                </label>

                            </li>
                            <li class="sa-question-multichoice__item sa-question-basic-multichoice__item ">

                                <input name="urn:li:fs_skillAssessmentQuestion:416460"
                                    id="urn:li:fs_skillAssessmentQuestion:416460-2"
                                    class="sa-question-multichoice__input sa-question-basic-multichoice__input ember-checkbox ember-view"
                                    type="radio">
                                <label for="urn:li:fs_skillAssessmentQuestion:416460-2" id="ember24"
                                    class="sa-question-basic-multichoice__label m0 pv4 ember-view">
                                    <p class="sa-code-block">self
                                    </p>
                                </label>

                            </li>
                            <li class="sa-question-multichoice__item sa-question-basic-multichoice__item ">

                                <input name="urn:li:fs_skillAssessmentQuestion:416460"
                                    id="urn:li:fs_skillAssessmentQuestion:416460-0"
                                    class="sa-question-multichoice__input sa-question-basic-multichoice__input ember-checkbox ember-view"
                                    type="radio">
                                <label for="urn:li:fs_skillAssessmentQuestion:416460-0" id="ember27"
                                    class="sa-question-basic-multichoice__label m0 pv4 ember-view">
                                    <p class="sa-code-block">
                                        if
                                    </p>
                                </label>

                            </li>
                        </ul>
                    </div>

                    <div id="ember29" class="ember-view">
                        <!---->
                    </div>

                </div>

            </div>
            <div class="mtA">
                <div id="ember30"
                    class="sa-assessment-quiz__meter full-width artdeco-completeness-meter-linear artdeco-completeness-meter-linear--fluid ember-view">
                    <div class="artdeco-completeness-meter-linear__progress-container ">
                        <progress max="100" value="50" class="artdeco-completeness-meter-linear__progress-element"
                            aria-valuetext="Current value: 1" style="--offset-value:50%;">
                            Current value: 1
                        </progress>
                        <!---->
                    </div>
                    <!---->
                </div>
            </div>
            <footer class="sa-assessment-quiz__footer">
                <div class="display-flex justify-space-between align-items-center pv4 ph5">

                    <div class="display-flex">
                        <span class="t-16 mr4">Q1/2</span>
                        <span id="ember31" class="sa-assessment-quiz__timer t-16 t-bold ember-view"> 01:00
                        </span>
                    </div>

                    <button data-control-name="practice-next_question" id="ember32"
                        class="sa-assessment-quiz__primary-action artdeco-button artdeco-button--2 artdeco-button--primary artdeco-button--disabled ember-view" (click) = "endTest();">
                        <!---->
                        <span class="artdeco-button__text">
                            Finalizar
                        </span></button>

                </div>
            </footer>

        </section>
        <div id="ember35" class="ember-view">
            <div id="ember36" class="ember-view">
                <!---->
            </div>
        </div>

    </main>
</div>

<app-footer></app-footer>